<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.repository.GPCarMapper">
    <resultMap id="BaseResultMap" type="com.example.entity.GPCar">
        <id column="id" jdbcType="INTEGER" property="Id"/>
        <result column="VIN" jdbcType="VARCHAR" property="VIN"/>
        <result column="carNumber" jdbcType="VARCHAR" property="CarNumber"/>
        <result column="chargeMan" jdbcType="VARCHAR" property="ChargeMan"/>
        <result column="status" jdbcType="INTEGER" property="Status"/>
        <result column="brand" jdbcType="VARCHAR" property="Brand"/>
        <result column="create_at" jdbcType="TIMESTAMP" property="create_at"/>
        <result column="update_at" jdbcType="TIMESTAMP" property="update_at"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,VIN,carNumber,chargeMan,status,brand,create_at,update_at
    </sql>
    <!--查找所有用户-->
    <select id="selectAllCar" parameterType="java.lang.Integer" resultType="com.example.entity.GPCar">
        select * from gp_vehicle limit #{pageSize,jdbcType=INTEGER} offset #{row,jdbcType=INTEGER}
    </select>
    <!--查询用户数量-->
    <select id="selectCarCount" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        <!--        select * from da_user-->
        select count(*) from gp_vehicle
    </select>
    <!--关键字查找用户列表-->
    <select id="selectAllCarByKeyword" parameterType="java.lang.String" resultType="com.example.entity.GPCar">
        SELECT *  FROM gp_vehicle WHERE carNumber LIKE #{keywords1,jdbcType=VARCHAR} OR carNumber LIKE #{keywords2,jdbcType=VARCHAR} OR carNumber LIKE #{keywords3,jdbcType=VARCHAR}
    </select>
    <!--注册用户（插入用户）-->
    <insert id="insertCar" parameterType="com.example.entity.GPCar">
        insert into gp_vehicle
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="carNumber != null">
                carNumber,
            </if>
            <if test="VIN != null">
                VIN,
            </if>
            <if test="chargeMan != null">
                chargeMan,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="brand != null">
                brand,
            </if>
            <if test="create_at != null">
                create_at,
            </if>
            <if test="update_at != null">
                update_at,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{Id,jdbcType=INTEGER},
            </if>
            <if test="carNumber != null">
                #{CarNumber,jdbcType=VARCHAR},
            </if>
            <if test="VIN != null">
                #{VIN,jdbcType=VARCHAR},
            </if>
            <if test="chargeMan != null">
                #{ChargeMan,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{Status,jdbcType=VARCHAR},
            </if>
            <if test="brand != null">
                #{Brand,jdbcType=VARCHAR},
            </if>
            <if test="create_at != null">
                #{create_at,jdbcType=TIMESTAMP},
            </if>
            <if test="update_at != null">
                #{update_at,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <delete id="delCarById" parameterType="java.lang.Integer">
        delete from gp_vehicle
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <select id="selectCarById" parameterType="java.lang.Integer" resultType="com.example.entity.GPCar">
        select *
        from gp_vehicle
        where id = #{id,jdbcType=INTEGER}
    </select>
    <update id="updateCarById" parameterType="com.example.entity.GPCar">
        update gp_vehicle
        set carNumber = #{carNumber,jdbcType=VARCHAR},VIN=#{vin,jdbcType=VARCHAR},brand=#{brand,jdbcType=VARCHAR},status =
        #{status,jdbcType=INTEGER},chargeMan=#{chargeMan,jdbcType=VARCHAR},update_at=#{update_at,jdbcType=TIMESTAMP}
        where id=#{id,jdbcType=INTEGER}
    </update>

    <select id="selectCarByCoach" parameterType="java.lang.String" resultType="com.example.entity.GPCar">
        select *
        from gp_vehicle
        where chargeMan = #{coach,jdbcType=VARCHAR}
    </select>
</mapper>